body {
	font-family: Georgia;

}
#header{
	height : 80px;
	margin-top: 15px;
}

#search_button{
	background-color:#2B6EA3;
	color: white;
	border: none;
}

#banner_id{
	max-width: 100%;
}

#second_side{
	margin-top: 15px;
}

#section4 {
	  border-bottom: white;
	  font-size: 13px;

}

#grey_part {
	background-color:#D3D3D3;

}

#box_size {
	height: 340px;
}

#height_size {
	height: 50px;
	text-align: center;
	border-bottom: transparent;
	font-size: 16px;
}

#second_heading {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 28px;
}


#section11 {
	margin-top: 25px;
}

#empty_box:empty {

	/*width: 220px;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
    height: 250px;
    background-color: #E0E0D6;
}

#change_font {
	font-style: italic;
}

#footer_color {
	color:white;
}

#nav_right{
     float: right;
	font-size: 11px;

}
.navbar-default {
     background-color: #3355aa;
     font-family: Georgia;
     font-style: italic;
     
}


figure {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

img.scaled {
	width: 100%;
}
.small_text {
	font-size: 10px;
}

.change_color {
	color:#3355aa;
	font-style: italic;
}
.panel-primary {
	border-color: transparent;
}
.panel-primary > .panel-body{
	font-size: 13px;
}

.panel-primary > .panel-heading {
  color: #3355aa;
  font-weight: bold;
  background-color: transparent;
  border-top: white;
  border-bottom: solid 3px #f7b731;
}
.nav.navbar-nav li a{
	color: white;
}

.footer {
  /* position: fixed;*/
  
   padding-top: 15px;
   padding-bottom: 15px;
   height:70px;
   width: 100%;
   background-color:#333333;
   color: white;
   border-bottom: 1px solid #3d3d3d;
}

.fixed-footer {
   font-size: 11px;
   padding-bottom: 35px;
   width: 100%;
   background-color:#333333;
   color: white;
}